* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    // min-width: 950px;
    max-width: 950px;
    margin: 0 auto;
}

@import 'base/variables';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/consultation';

@import 'blocks/forms';


@import 'base/media';

