.advantages {
    min-height: 472px;
    padding: 69px 0 97px 0;

    &__items {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 280px;     
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__item-header {
        margin-top: 37px;
        font-size: 18px;
        color: #0d0d0d;
        text-align: center;
    }
    &__item-descr {
        margin-top: 26px;
        font-size: 14px;
        color: #0d0d0d;        
        text-align: center;
        a {
            color: $main-color;
            text-decoration: underline;
            text-transform: uppercase;
            transition: 0.2s all;
            &:hover {                
                color: #fff;
                background-color: $main-color;
            }
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1.5s ease infinite; 
            // animation-duration: ;    
            // animation-timing-function: ;    
            // animation-iteration-count: ;  
            &:hover {
                animation-play-state: paused;
            }         
        }
    } 
}