.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/consultation.png') center (center/cover) no-repeat ;
    &__descr {
        font-size: 20px;
        color: #ffffff;
        font-weight: 500;     
    }
    input.error {
        border: 3px solid red;
        margin-bottom: 1px;
    }
    label.error {
        text-align: center;
        margin-bottom: 10px;
        font-size: 12px;
        color: #ffffff;
    }

}